* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Gotham Pro", sans-serif;
  background-color: #05004E;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  color: #FFCCCC;
  padding: 0 10vw;
}

header {
  width: 100%;
  padding: 2vh 10vw;
  font-size: 18pt;
  text-transform: uppercase;
  z-index: 1;
  color: #FFCCCC;

  svg {
    height: 18pt;
    width: 18pt;
    fill: red;
    margin-bottom: -2px;
  }

  a {
    text-decoration: none;
    color: #FFCCCC;
    box-shadow: inset 0 0 0 0 #FB7777;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

    }.distItem a {&:hover {
  box-shadow: inset 2rem 0 0 0 #FF0000;
  color: white;
}
        }
}

nav {
  display: flex;
  justify-content: space-between;

  .distItem {
    gap: 5vw;
    display: flex;
  }
}

.heading {
  font-size: 40pt;
  text-transform: uppercase;
}

.rightAlign {
  text-align: right;
  align-self: end;
}
.leftAlign {
  text-align: left;
  align-self: start;
}
.mainWord {
  margin-top: 10px;
  font-size: 68pt;
}

li {
  list-style: none;
}


@keyframes lineIn1 {
  from {
    top: -900px;
    left: 900px;
  }
  to {
    left: 0;
  }
}

@keyframes lineIn2 {
  from {
    top: -1300px;
    left: 1100px;
  }
  to {
    left: 0;
  }
}

@keyframes lineIn3 {
  from {
    top: -800px;
    left: 1000px;
  }
  to {
    left: 0;
  }
}

@media screen and (max-width: 900px) {
  header {
    font-size: 10pt;

    svg {
      height: 10pt;
      width: 10pt;
      fill: red;
      margin-bottom: -2px;
    }
  }

  .heading {
    font-size: 13pt;
  }
}